DB_HOST=localhost
DB_PORT=5432
DB_NAME=patching
DB_USER=replace_me
DB_PASS=replace_me
APP_TIMEZONE=Europe/Rome
APP_NAME=MoonCrater
APP_SUBTITLE=Infrastructure Control Plane Patching
CUSTOMER_NAME=Acme Corporation
CUSTOMER_LOGO=assets/img/customer-default.svg
