SetEnv DB_HOST localhost
SetEnv DB_PORT 5432
SetEnv DB_NAME mooncrater
SetEnv DB_USER mooncrater
SetEnv DB_PASS replace_me
SetEnv APP_TIMEZONE Europe/Rome
SetEnv APP_NAME MoonCrater
SetEnv APP_SUBTITLE Infrastructure Control Plane Patching
SetEnv CUSTOMER_NAME Acme Corporation
SetEnv CUSTOMER_LOGO assets/img/customer-default.svg
